

 .baap { 

margin: 20% auto 0 auto;

max-width: 60%;
font-weight: 100;
font-style: normal;

}


p {
	margin: 0 auto;
	width: 60%;
line-height: 1.5;
letter-spacing: 0.01rem;
font-size: 19px;
font-style: normal;
font-weight: 100;

};

